<% @tasks.each do |task| %>
  <div>
    <%= link_to(task.name, task_path(task)) %>
    <%= link_to("edit", edit_task_path(task)) %>
    <%= link_to "delete", task_path(task),
    method: :delete,
    data: { confirm: "Are you sure?"} %>

    </div>
<% end %>
<%= link_to "Add New", new_task_path %>

